image: python:3.9

variables:
  # Caching-Pfade definieren, damit sie zwischen den Builds erhalten bleiben
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PLATFORMIO_CACHE_DIR: "$CI_PROJECT_DIR/.cache/platformio"
  # Damit PlatformIO im Projekt-Ordner cacht
  PLATFORMIO_CORE_DIR: "$CI_PROJECT_DIR/.cache/platformio"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .cache/pip
    - .cache/platformio

stages:
  - build

build_firmware:
  stage: build
  before_script:
    - pip install -U platformio
  script:
    - echo "Starte Build Prozess..."
    - pio run
    - echo "Build abgeschlossen."
    - ls -R Devices | grep ".hex"
  artifacts:
    name: "culfw-build-$CI_PIPELINE_IID"
    paths:
      # Wildcard sammelt alle Hex-Files aus den Unterordnern (nanoCUL, CUL, etc.)
      - Devices/**/*.hex
    expire_in: 4 weeks
